.menu_superior li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}

.bar_login {
    width: 14%;
    height: 90px;
    float: left;
    padding: 15px;
    background: #000070;
    border-style: solid;
    margin-top: -17px;
    /*border: 1px solid black;*/
}

.bar_login img {
    margin-top: -10px;
    float: left;
    
}

h5, h6 {
    margin-left: 75px;
    margin-top: 3px;
    color: white;
}

